language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - nightly
  - pypy

install:
  - pip install -r requirements.txt --use-mirrors
  - pip install coveralls --use-mirrors
  - python setup.py install

script:
  - coverage run --source=datetime_tz setup.py test

after_success:
  - coveralls
